doctype 5
html
  head
    title Su Zhang's Activities
    != css('index')
  body
    #container
      if entries.length > 0
        for entry in entries
          div !{entry}
      else
        div Nothing to see here.
