doctype 5
html
  head
    title Su Zhang's Activities
    != css('index')
  body
    #container
      if entries.length > 0
        for entry in entries
          div.box !{entry}
      else
        div Nothing to see here.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    != js('index')
